body {
  animation: changeBackground 16s infinite; 
}

.drop-target {
  background-color: #ccffcc;
}

.non-drop-target {
  background-color: #ffcccc;
}

.column {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 70vh; 
  overflow-y: auto; 
}

@keyframes changeBackground {
  0% { background-color: #f0f0f0; } 
  25% { background-color: #abcdef; } 
  50% { background-color: #c1fffa; } 
  75% { background-color: #aabbcc; }
  100% { background-color: #f0f0f0; }
}